.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
    color: #232129;
    padding: 96px;
    fontFamily: "-apple-system, Roboto, sans-serif, serif";
}

.heading {
    color: rebeccapurple;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: black;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
  }