@import "../scss/variables.scss";

@import "~bootstrap/scss/bootstrap";

// removes all search bar stylings added by the browsers
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

// Font sizes
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.25rem;
  }
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: $title-color;
}

h2, h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  color: $title-color;
  scroll-margin-top: 16px;
}

/* Safari-only */
@supports (-webkit-hyphens:none) {
  h2, h3 {
      padding-top: 16px;
      margin-top: -16px;
  }
}

p, li, ul, figcaption {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: $content-color;
}

strong {
  color: #3D4661;
}

a {
  color: $primary;
  text-decoration: none;
}

.heading {
  color: #0084FF;
  text-decoration-line: underline;
}

// bootstrap changes
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 2.5px;
  }

  .btn-primary {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  // Divider styling: hr
  .line {
    max-width: 85px;
    border-top: 3px solid #f8f9fa;
    background: none;
  }

  hr {
    opacity: 1;
  }

  // cards
  .card {
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    border-radius: 10px;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }
  }

  .card-img-top {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
  }
  
  .card-text {
    margin-bottom: 1em;
    display: -webkit-box;
    overflow-y: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-word;
    font-size: 16px;
  }
  

  // froms
  .form-control {
    border: 2px solid;
    background-color: #F9F9F9;
    color: $gray-700;
    padding: 10px;
  }

  // footer 
.social-media-btn {
  border-radius: 5px;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

// Home
//Section Portfolio
.portfolio {
  background-color: $background-color;
}

.mantra-slogan {
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #00FFD5 30%, #1300FF 70%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fancy-border-box {
  max-width: 500px;
  align-items: center;

  position: relative;
  box-sizing: border-box;

  $border: 5px;
  color: #FFF;
  background: #FFF;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 1em;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to right, #00FFD5, #1300FF);
  }
}

// Contact form
.input-icons {
  width: 100%;
  margin-bottom: 10px;
  Fontawesome {
    position: absolute;
  }
}

.icon {
  padding: 10px;
  min-width: 40px;
}

// Search-box
.position-search-bar {
  @media screen and (min-width: 1200px) {
    justify-content: right;
  }

  @media only screen and (max-width: 1200px) {
    justify-content: left;
  }
}
.search {
  width: 50px;
  height: 50px;
  background-color: $search-bg-color;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  transition: $transition;
  &:before {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    position: relative;
    transition: $transition;
  }
  &.open {
    @media only screen and (min-width: 400px) {
      width: 350px;
    }

    @media only screen and (max-width: 400px) {
      width: 250px;
    }
    &:before {
      height: 30px;
      margin: 10px 0 10px 20px;
      background-color: $icon-color;
      position: absolute;
    }
  }
}

.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: $icon-color;
  padding: 20px 50px 20px 45px;
  font-size: 25px;
  &:focus {
    outline: none;
  }
}

.search-button {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 13px;
  cursor: pointer;
}

.search-icon {
  font-size: 25px;
  color: $icon-color;
  display: block;
  position: relative;
}

// Ghost styling
code {
  color: $primary;
}
.kg-image {
  width: 100%;
  height: auto;
}

.post-full-content {
  background: #fff;
  margin: 0 auto;
  max-width: 800px;
}

figcaption {
  text-align: center;
  font-size: medium;
}

.kg-bookmark-card {
  width: 100%;
  position: relative;
}

.kg-bookmark-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.kg-bookmark-container:hover {
  text-decoration: none;
}

.kg-bookmark-content {
  flex-basis: 0;
  flex-grow: 999;
  padding: 20px;
  order: 1;
}

.kg-bookmark-title {
  font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
  margin-top: .5em;
}

.kg-bookmark-metadata {
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kg-bookmark-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.kg-bookmark-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  margin-right: .5em;
  margin-bottom: .05em;
}

.kg-bookmark-thumbnail {
  display: flex;
  flex-basis: 24rem;
  flex-grow: 1;
}

.kg-bookmark-thumbnail img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

.kg-bookmark-author {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.kg-bookmark-publisher::before {
  content: "•";
  margin: 0 .5em;
}

.kg-embed-card {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

blockquote{
  width: 100%;
  margin: 50px auto;
  font-family: Georgia;
  font-style: italic;
  color: $content-color;
  padding-left: 1.2em;
  border-left: 8px solid $primary ;
  line-height: 1.6;
  position: relative;

  &::after {
    content: '';
  }

  span {
    display: block;
    color: $dark;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
  }
}
// Post
  .read-more-wrap {
    width: 100%;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    background: #3D4661;
  }

  .inner {
    margin: 0px auto;
    max-width: 1200px;
  }