html {
    font-family: "Source Sans Pro";
}

p {
    color: #8B91A7;
}

h1, h2 {
    color: #3D4661;
}

h3, h4 {
    color: #5D657E;
}

strong {
    color: #3D4661;
}

a {
    color: #385AE6;
    text-decoration: none;
}

.heading {
    color: #0084FF;
    text-decoration-line: underline;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: black;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
}

img {
    max-width: 100%;
}