input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

html {
    font-family: "Source Sans Pro";
}

p {
    color: #8B91A7;
}

h1, h2 {
    color: #3D4661;
}

h3, h4 {
    color: #5D657E;
}

strong {
    color: #3D4661;
}

a {
    color: #385AE6;
    text-decoration: none;
}

.heading {
    color: #0084FF;
    text-decoration-line: underline;
}

img {
    max-width: 100%;
}

.header-logo {
    font-family: Impact;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
  }
  
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 2.5px;
  }
  
  .navbar-nav li a:hover {
    color: #FFFFFF !important;
  }
  
  .social-media-btn {
    border-radius: 5px;
  }
  
  .img-thumbnail {
    border: 0;
  }
  
  /* Search box */
  .search {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    transition: all 0.5s ease;
  }

  .search:before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    position: relative;
    transition: all 0.5s ease;
  }

  @media only screen and (min-width: 400px) {
    .search.open {
      width: 350px;
    }
  }
  @media only screen and (max-width: 400px) {
    .search.open {
      width: 250px;
    }
  }
  .search.open:before {
    height: 30px;
    margin: 10px 0 10px 20px;
    background-color: #007bff;
    position: absolute;
  }
  
  .search-box {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    background: transparent;
    color: #007bff;
    padding: 20px 50px 20px 45px;
    font-size: 25px;
  }
  .search-box:focus {
    outline: none;
  }
  
  .search-button {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 13px;
    cursor: pointer;
  }
  
  .search-icon {
    font-size: 25px;
    color: #007bff;
    display: block;
    position: relative;
  }
  