// search bar variables
$background-color: #007bff;
$search-bg-color: #FFFFFF;
$icon-color: #007bff;
$transition: all .5s ease;

// font variables
$title-color: #3D4661;
$subheading-color: #454e6b;
$content-color: #8B91A7;

// theming bootstrap
// colors
$primary: #007bff;
$dark: #3D4661;
